@model RecipeBook.Web.ViewModels.Home.SearchViewModel

@{
    int elCount = Model.ResultItems.Count();
    if (elCount != 0)
    {
        foreach (var item in Model.ResultItems)
        {
            var currentImageSource = item.ImagePath;

            <li class="media" id=@item.Id>
                <img class="align-self-center mr-3" src=@currentImageSource asp-append-version="true"
                     title=@item.Name width="100" height="100">
                <div class="media-body mr-3">
                    <h5 class="mt-0 mb-1">@item.Name</h5>
                    <div class='rating-stars mb-0'>
                        <ul id='stars'>
                            <li class='star' title='Poor' data-value='1'>
                                <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Fair' data-value='2'>
                                <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Good' data-value='3'>
                                <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Excellent' data-value='4'>
                                <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='WOW!!!' data-value='5'>
                                <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class="list-inline-item"><p class="text-muted">4.5 (413)</p></li>
                        </ul>
                    </div>
                    <p class="text-justify text-truncate" style="max-width: 200px;">
                        @item.Text
                    </p>
                </div>
            </li>

        }
    }
    else
    {
        <li class="media">
            No results found
        </li>
    }
}