@model RecipeBook.Web.ViewModels.Home.SearchViewModel

<form id="keyForm" method="Post"></form>

<div class="container">
    <div class="row">
        <div class="col-3">
            @await Component.InvokeAsync("SideBarFilter", new { searchData = Model.SearchData })
        </div>
        <div class="col-9" id="partialView">
            <partial name="ResultList" model="@Model" data="@Model" />
        </div>
    </div>
</div>




@section Scripts {
    <script src="~/js/searchView.js" asp-append-version="true"></script>
    <script src="~/js/sideBarView.js" asp-append-version="true"></script>
}
