@model RecipeBook.Web.ViewModels.Ingredeint.IndexViewModel

<form id="keyForm" method="Post"></form>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3">
            @await Component.InvokeAsync("SideBarFilter", new { searchData = Model.SearchData })
        </div>
        <div class="col-sm-12 col-dm-9 col-lg-9" id="partialView">
            <partial name="IndexResultList" model="@Model" data="@Model" />
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/ingredientIndexView.js" asp-append-version="true"></script>
    <script src="~/js/sideBarView.js" asp-append-version="true"></script>
}